src/main/webapp/WEB-INF/wsdl/CustomerOrders.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://customerorders.service.robsonaraujo.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="CustomerOrders" targetNamespace="http://customerorders.service.robsonaraujo.com.br/"
	xmlns:co="http://types.customerorders.service.robsonaraujo.com.br/">
	
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://types.customerorders.service.robsonaraujo.com.br/"
				schemaLocation="../xsd/CustomerOrders.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getOrdersRequest">
		<wsdl:part element="co:getOrdersRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOrdersResponse">
		<wsdl:part element="co:getOrdersResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="createOrdersRequest">
		<wsdl:part element="co:createOrdersRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createOrdersResponse">
		<wsdl:part element="co:createOrdersResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="CustomerOrders">
		<wsdl:operation name="getOrders">
			<wsdl:input message="tns:getOrdersRequest" name="getOrdersRequest">
			</wsdl:input>
			<wsdl:output message="tns:getOrdersResponse" name="getOrdersResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<wsdl:input message="tns:createOrdersRequest" name="createOrdersRequest">
			</wsdl:input>
			<wsdl:output message="tns:createOrdersResponse" name="createOrdersResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteOrders">
			<wsdl:input message="tns:deleteOrdersRequest" name="deleteOrdersRequest">
			</wsdl:input>
			<wsdl:output message="tns:deleteOrdersResponse" name="deleteOrdersResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:message name="deleteOrdersRequest">
		<wsdl:part element="co:deleteOrdersRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteOrdersResponse">
		<wsdl:part element="co:deleteOrdersResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:binding name="CustomerOrdersServiceSoapBinding"
		type="tns:CustomerOrders">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="deleteOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CustomerOrdersService">
		<wsdl:port binding="tns:CustomerOrdersServiceSoapBinding"
			name="CustomerOrdersPort">
			<soap:address
				location="http://localhost:8080/jaxws-cxf-quickstart/customerOrdersService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>